<p-dataView #dv
            [value]="posts$ | async"
            [loading]="isLoading$ | async"
            [layout]="view$ | async">
  <ng-template pTemplate="header">
    <div class="p-col-12">
      <div class="post-list-header">
        <button pButton
                iconPos="left"
                [icon]="currentSortIcon$ | async"
                [label]="'header.buttons.sort' | translate"
                (click)="toggleSort()"></button>
        <button pButton
                iconPos="left"
                [icon]="currentViewIcon$ | async"
                [label]="'header.buttons.view' | translate"
                (click)="toggleView()"></button>
        <button pButton
                iconPos="left"
                [icon]="currentFilterIcon$ | async"
                [label]="'header.buttons.filter' | translate"
                (click)="toggleFilter()"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-post pTemplate="listItem">
    <div class="p-col-12">
      <div class="post-list-item">
        <div class="image-container">
          <img class="post-image" [src]="post?.image">
        </div>
        <div class="post-list-detail">
          <div class="post-name">{{post?.name}}</div>
          <div class="post-description">{{post?.description}}</div>
          <div class="post-pricePerUnit">{{post?.pricePerUnit}}</div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-post pTemplate="gridItem">
    <div class="p-col-3">
      <div class="post-grid-item p-shadow-1">
        <div class="image-container">
          <img class="post-image" [src]="post?.image">
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
